%p#notice= notice

%p
  %b Name:
  = @cms_fortress_role.name
%p
  %b Description:
  = @cms_fortress_role.description

= link_to 'Edit', edit_cms_fortress_role_path(@cms_fortress_role)
\|
= link_to 'Back', cms_fortress_roles_path
