- if @site && !@site.new_record?
  - if Cms::Fortress.configuration.content_resources.any? {|resource| can? :view, "contents.#{resource[:name]}" }

    %li.dropdown(class="#{ "active" if content_page? }")
      %a.dropdown-toggle(data-toggle='dropdown' href='#')
        = t("cms.fortress.contents")
        %b.caret
      %ul.dropdown-menu

        - Cms::Fortress.configuration.content_resources.each do |resource|
          - if can? :view, "contents.#{resource[:name]}"
            - path = begin; eval(resource[:path]);rescue;end
            - if path
              = topnav_item t(resource[:title]), path, current_page?(path)


  - if Cms::Fortress.configuration.design_resources.any? {|resource| can? :view, "designs.#{resource[:name]}" }

    %li.dropdown(class="#{ "active" if design_page? }")
      %a.dropdown-toggle(data-toggle='dropdown' href='#')
        = t("cms.fortress.design")
        %b.caret
      %ul.dropdown-menu
        - Cms::Fortress.configuration.design_resources.each do |resource|
          - if can? :view, "designs.#{resource[:name]}"
            - path = begin; eval(resource[:path]);rescue;end
            - if path
              = topnav_item t(resource[:title]), path, current_page?(path)



  - if Cms::Fortress.configuration.settings_resources.any? {|resource| can? :view, "settings.#{resource[:name]}" }
    %li.dropdown(class="#{ "active" if admin_page? }")
      %a.dropdown-toggle(data-toggle='dropdown' href='#')
        = t("cms.fortress.setttings")
        %b.caret
      %ul.dropdown-menu
        - Cms::Fortress.configuration.settings_resources.each do |resource|
          - if can? :view, "settings.#{resource[:name]}"
            - path = begin; eval(resource[:path]); rescue; end
            - if path
              = topnav_item t(resource[:title]), path, current_page?(path)



