.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner.nav-height
    .navbar-container
      %button.btn.btn-navbar{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{'href' => '#'}= t('cms.fortress.title')
      .nav-collapse.collapse
        %ul.nav
          - if @site && !@site.new_record?
            - if Cms::Fortress.configuration.content_resources.any? {|resource| can? :view, "contents.#{resource[:name]}" }
              = topnav_item t("cms.fortress.contents"), |
                @site && !@site.new_record? ? admin_cms_site_pages_path(@site) : admin_cms_sites_pages_path, |
                content_page?

            - if Cms::Fortress.configuration.design_resources.any? {|resource| can? :view, "designs.#{resource[:name]}" }
              = topnav_item t("cms.fortress.design"), |
                @site && !@site.new_record? ? admin_cms_site_layouts_path(@site) : admin_cms_sites_pages_path, |
                design_page?

            - if Cms::Fortress.configuration.settings_resources.any? {|resource| can? :view, "settings.#{resource[:name]}" }
              = topnav_item t("cms.fortress.settings"), admin_cms_sites_path, admin_page?

          = render 'cms/fortress/admin/topnav'
        %ul.nav.nav-pill.pull-right
          - if current_cms_fortress_user
            %li
              = link_to "#{ current_cms_fortress_user.email } ::", "#"
            %li
              = link_to "Logout", destroy_cms_fortress_user_session_path, :method => 'delete'


