.row
  - media.each do |m|
    - if type.eql?(:image)
      .col-xs-6.col-md-3
        .thumbnail
          = image_item(m)
          .caption
            %p
              = image_styles(m)

    - elsif type.eql?(:video)
      .col-xs-6.col-md-3
        .thumbnail

          %a.editor-video(href='#{ m.file.url }')
            %video(width='128' height='90' data-video-title="#{ m.label }")
              %source(src="#{ m.file.url }")

            %p
              %strong= m.label
            %p
              %small
                = truncate m.description, length: 60


