
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin" }) do |f| %>
  <h2 class="form-signin-heading">Sign in</h2>

  <%= f.email_field :email, :autofocus => true, :placeholder => "Email address", :class => "input-block-level" %>
  <%= f.password_field :password, :placeholder => "Password", :class => "input-block-level" %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
    <%= f.check_box :remember_me %>  Remember me
  </label>
  <% end -%>

  <%= f.submit "Sign in", :class => "btn btn-primary" %>

  <%= render "devise/shared/links" %>
<% end %>



<!--
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn  btn-primary" type="submit">Sign in</button>
      </form>
      -->
