= form.text_field :last_name
= form.text_field :first_name
= form.text_field :email
= form.select :role_id, Cms::Fortress::Role.all.collect {|role| [role.name, role.id]}
= form.password_field :password
= form.password_field :password_confirmation

= form.form_group :class => 'form-actions' do
  = form.submit @cms_fortress_user.new_record? ? t('cms.fortress.create') : t('cms.fortress.update'), :class => 'btn btn-primary'

