
= render '/admin/cms/partials/navigation_before'

%ul.navigation
  - if admin_page?
    - Cms::Fortress.configuration.settings_resources.each do |resource|
      - if can? :view, "settings.#{resource[:name]}"
        - path = begin; eval(resource[:path]); rescue; end
        - if path
          = leftnav_item t(resource[:title]), path

    = render 'cms/fortress/admin/left_settings_nav'

  - elsif design_page?
    - Cms::Fortress.configuration.design_resources.each do |resource|
      - if can? :view, "designs.#{resource[:name]}"
        - path = begin; eval(resource[:path]);rescue;end
        - if path
          = leftnav_item t(resource[:title]), path

    = render 'cms/fortress/admin/left_designs_nav'

  - elsif content_page?
    - Cms::Fortress.configuration.content_resources.each do |resource|
      - if can? :view, "contents.#{resource[:name]}"
        - path = begin; eval(resource[:path]);rescue;end
        - if path
          = leftnav_item t(resource[:title]), path

    = render 'cms/fortress/admin/left_contents_nav'

    = cms_hook :navigation

  - else
    = render 'cms/fortress/admin/left_nav'


  = render '/admin/cms/partials/navigation_inner'

= render '/admin/cms/partials/navigation_after'
